body{
    background-color: rgb(15, 7, 39);
}

#wrapper{
    background-color: black;
    color: white;
    width: 110vh;
    height: 90vh;
    padding: 10px;
    
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    border-radius:30% ;
}
h2{
    font-size: 30px;
    font-weight: 900;
    
}

.from{
    display: flex;
    flex-direction: column;
    padding: 6px;
    margin: 5px;
    align-items: center;
    justify-content: center;
}
#guess{
    padding: 5px;
    margin: 5px;
    font-size: 30px;
}
.guessField{
  padding: 8px;
  margin: 5px;
  width: 25vh;
  border-radius: 10px;
  border: 2px solid rgb(7, 4, 34);
  
}
.guessSubmit{
    padding: 13px;
    margin: 10px;
    background-color: yellow;
    border-radius: 12px;
    font-size: 15px;
    font-weight: bold;
}
.guessSubmit:hover{
    cursor: pointer;
    background-color: blue;
    color: whitesmoke;
    box-shadow: yellowgreen 5px 7px 13px;
}

